input {
    min-width: 1px;
}

body {
    background-color:thistle;
    font-family:monospace;
}

ul {
    padding-left:27px;
    margin-left:-17px;
}

#interests ul{
    font-weight:bolder;
}

#interests ul ul {
    padding-left:51px;
    font-weight:normal;
}

h3 {
    margin-left:6px;
}

a {
    color:#3966b7;
}

#content {
    width:60%;
    margin:auto;
    margin-top:30px;
    border: green solid 4px;
}

#top-row {
    display:flex;
    width:100%;
    gap:2%;
    margin:auto;
    padding:0 10px;
    box-sizing:border-box;
}

#bio {
    border-radius:15px;
    border:dashed white;
    height:fit-content;
    width:40%;
    padding:0 6px;
    text-align:justify;
}

#interests {
    border-radius:15px;
    border:dashed white;
    height:fit-content;
    width:58%;
    padding:0 6px;
    list-style-position:inside;
}



#row2 {
    display:flex;
    width:100%;
    gap:2%;
    margin:auto;
    margin-top:15px;
    margin-bottom:15px;
    padding:0 10px;
    box-sizing:border-box;
}
#socials {
    border-radius:15px;
    border:dashed white;
    height:fit-content;
    width:40%;
    padding:0 6px;
}

#logos {
    display:flex;
    flex-wrap:wrap;
    padding-bottom:6px
}

#labels {
    border-radius:15px;
    border:dashed white;
    height:fit-content;
    width:58%;
    padding:0 6px;
}

#labels ul {
    margin-left:3px;
}
