input { min-width: 1px; }

body {
    background-color:thistle;
    font-family:monospace;
}

#content {
    width:60%;
    margin:auto;
    margin-top:30px;
    border: green solid;
}
#main {
    display:flex;
    gap:10px
}
#bio {
    border-radius:15px;
    border:dashed white;
    height:fit-content;
    width:41%;
    padding:0 6px;
    text-align:justify;
    margin-left:10px;
}

#about {
    border-radius:15px;
    border:dashed white;
    height:fit-content;
    width:46%;
    padding:0 6px;
    margin-right:10px;
    list-style-position:inside;
}


ul {
    padding-left:27px;
    margin-left:-17px;
    font-weight:bolder;
}

ul ul {
    padding-left:51px;
    font-weight:normal;
}
